{% extends 'layout.html' %}

{% block content %}

    <div class="container">

        <div class="container  mx-auto">

            <div class="container g-4 p-4">
                <form method="POST" id="formulario">
                    <button class="btn btn_input_pri btn-lg" type="submit" form="formulario"
                        formaction="{{ url_for('tuturno.menu', elemento='cafeteria') }}">Cafeteria</button>
                    <button class="btn btn_input_sec btn-lg" type="submit" form="formulario"
                        formaction="{{ url_for('tuturno.menu', elemento='pasteleria') }}">Pasteleria</button>
                    <button class="btn btn_input_third btn-lg" type="submit" form="formulario"
                        formaction="{{ url_for('tuturno.menu', elemento='bebestible') }}">Bebestible</button>
                </form>
            </div>
            
            <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
                {% for producto in cafeteria %}
                <div class="col">

                    <div class="card ">
                        <img src="{{ url_for('static', filename = 'img/productos/' + producto.foto_producto )}}"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre_producto}}</h5>
                            <p class="card-text">$ {{producto.valor_producto}}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{producto.descripcion_producto}}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}