@font-face {
    font-family: 'Socafe Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Socafe Regular'), url('../font/Socafe-4nZ5x.woff') format('woff');
    }

h1,
h2,
h3,
h4,
h5{
    font-family: "Socafe Regular" !important;
}

@font-face {
    font-family: 'Courier';
    src: url('../font/Courier_New_Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

body {
    background-image: url('../logo/Logo_Blanco.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 550px;
    background-position-y: -350px;
    background-attachment: fixed;
}

* {
    box-sizing: border-box
}

:root {
    --max: 18rem
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%
}

.card {
    width: var(--max)
}

.card-img-top {
    width: 100%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
}

p, a, small{
    font-family: 'Courier';
}

body{
    background-color: #f4c135
}

/* 
colores
lila: #780c67
amarillo: #f4c135
naranja: #f76116
blanco: #edede5

*/



th {
    background-color: #f76116 !important;
    color: #780c67 !important;
} 

td {
    background-color: #edede5 !important;
    color: #780c67 !important;
} 




.navbar_color {
    background-color: #edede5 !important;
}

.btn_input_pri{
    background-color: #edede5;
    border: 2x solid #000;
}

.btn_input_sec{
    background-color: #edede5;
    border: 2x solid #000;
}

.btn_input_third{
    background-color: #edede5;
    border: 2x solid #000;
}



.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    box-sizing: border-box;
}

.logo{
    flex-basis: 100px;
    height: 140px;
    width: 140px;
    object-fit: contain;
}

.imagen-pricipal{
    flex-basis: 100px;
    height: 240px;
    object-fit: contain;
}
